.header {
	font-family: Arial, Helvetica, sans-serif;

	height: 13vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: black;
	color: white;
}

.header a {
	text-decoration: none;
	color: white;
}

.header img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 20px;
}

.headerBtns {
	display: flex;
	align-items: center;
}

.user {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	margin: 20px;
}

// .risk {
// 	text-transform: uppercase;
// }

// .picture {
// 	border-radius: 50%;
// 	height: 80px;
// 	width: 80px;
// }
